<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/css/style.css">
        
    </head>

    <body>        
        <div class='main-content'>
            <h1>{{ title }}</h1>
            {{>header}}

            <form>
                <input placeholder="location">
                <button>Search</button>
            </form>
            <p id='weather-message'></p>
            <p id='error-message'></p>
        </div>
        
        <p>Create by {{ name }}</p>
        {{>footer}}

        <script src="/js/app.js"></script>
    </body>
    
</html>